<div class="home-page"><%= link_to "Home page", patients_path %></div>

<h1> Patient Information </h1>

<div class="name"> <strong> Name of patient: </strong> <%= @patient_info["name"][0]["given"][0] %> <%= @patient_info["name"][0]["family"][0] %>
</div>

<div class="organization_name"> <strong>Name of organization: </strong> <%= @patient_info["managingOrganization"]["display"] %>
</div>

<div class="gender"> <strong> Gender: </strong> <%= @patient_info["gender"] %>
</div>

<div class="conditions_number"> <strong> Number of conditions: </strong><%= @patient_info["conditions"].count %>
</div>

<div class="conditions"> <strong> List of all conditions: </strong>
  <ul>
    <% @patient_info["conditions"].each do |condition| %>
    <li> <%= condition %> </li>
    <% end %>
  </ul>
</div>

<h4> Thank you for choosing SeamlessMD! </h4>
